<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digits Recongnizer AI</title>
  <link rel="stylesheet" type="text/css" href="{{css_style}}">
  <link rel="icon" href="{{favicon}}" type="image/png">
</head>

<body>
  <section id="prediction-section">
    <article id="loading-area">
      <img id="loading-image" src="{{loading_image}}" alt="loading">
    </article>
    <article id="config-area" class="area">
      <aside>
        <div class="scroller">
          <label for="scale-input"><strong>Scale:</strong></label>
          <div>
            <input type="range" min="3" step="1" id="scale-input">
            <button id="default-scale-btn" class="default-btn"></button>
            <strong>(<span id="scale-label"></span>)</strong>
          </div>
        </div>
        <div class="scroller">
          <label for="line-width-input"><strong>Line Width:</strong></label>
          <div>
            <input type="range" min="1" max="4" step="0.1" id="line-width-input">
            <button id="default-line-width-btn" class="default-btn"></button>
            <strong>(<span id="line-width-label"></span>)</strong>
          </div>
        </div>
        <div class="right">
          <div>
            <label for="multiple-draws-checkbox">Multiple Draws</label>
            <input type="checkbox" id="multiple-draws-checkbox">
          </div>
          <div>
            <label for="visualize-28x28-checkbox">Visualize as 28 by 28</label>
            <input type="checkbox" id="visualize-28x28-checkbox" checked>
          </div>
          <div id="btn-group">
            <button id="clear-btn" class="btn">Clear</button>
            <button id="predict-btn" class="btn">Predict</button>
          </div>
        </div>
      </aside>
    </article>

    <article id="input-area" class="area">
      <aside>
        <canvas id="canvas"></canvas>
      </aside>
    </article>

    <article id="output-area" class="area">
      <label id="digit-confidence-label">Digit Confidence:</label>
      <ul id="probabilities"></ul>
    </article>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.12.0/dist/tf.min.js"></script>
  <script src="{{js_script}}" type="text/javascript"></script>
</body>

</html>
